h1 {
    font-size: 10px;
}

#map { 
    width: 800px; 
    height: 600px;
    border: 10px solid white;
    float: left; 
}

div.user_space {
    border: 10px solid white;
    float: left;
}

div.server_info {
    border-style: inset;
    margin-bottom: 10px;
    padding-right: 10px;
}